*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
    padding: 30px;
    background-color:#1A0B2E;
}
.nav-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu-list li a{
    text-decoration:none;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
.logo{
    font-size:2rem;
    font-weight: bold;
    color: aliceblue;
}
.nav-btn{
    min-width:135px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 5px;
    border-radius:1000px;
    
    text-align: center;
}
.nav-btn>button{
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    background: transparent;
    border: none;
    color: #ffffff;
}
.menu-bar{
    display: none;
}
/* banner desing section */

#banner{
    background-image: url('/assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:760px;
    border-top: 1px solid rgb(65, 65, 64);
   
}
.banner-container{
    max-width: 550px;
    width: 100%;
    padding-top: 101px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-images{
    position: relative;
}
.png1{
    width: 350px;
    height: 350px;
    position:absolute;
    margin-bottom: 40px;
    
    
}
.png2{
   
    position: absolute;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.png1-icon{
    position: absolute;
    top: 5%;
    
    left:70%;
    background-color: #00FF88;
    padding: 8px 16px 8px 16px;
    color: #1A0B2E;
    font-size: 18;
    font-weight: 500;
    border-radius: 1000px;
    


}
.banner-content{
    text-align: center;
}
.banner-content h2{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    gap:16px;
}
.banner-btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 44px;
    padding: 12px 20px 12px 20px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border: none;
    text-align: left;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius:1000px;


}
.banner-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 44px;
    background: transparent;
    border: 1px solid#00FF88;
    gap: 8px;
    font-size:16px ;
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
}

/* about section */

.about{
    padding-top: 50px;
    background-color: #1A0B2E;
}
.about-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.about-content{
    text-align: center;
}
.rate-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 80px;
    
}
.card{
    max-width: 240px;
    height: 94px;
    text-align: center;
}
.card h3{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;

}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    opacity: 80%;
    margin-bottom: 120px;
    
}

.about-content h3{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.about-content p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height:40px;
    margin-bottom: 60px;
    opacity: 80%;
}
.line{
    border: 0;
    border-top: 1px  solid rgb(41, 39, 37);
}


    








@media screen and (max-width:576px){
    .menu-list,.nav-btn{
        display: none;
    }
    .menu-bar{
    display:inline;
}
.about-content{
    padding: 0 20px;
}
.rate-card{
    flex-wrap: wrap;
}







    
}
   

