*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
    padding: 30px;
    background-color:#1A0B2E;
}
.nav-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu-list li a{
    text-decoration:none;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
.logo{
    font-size:2rem;
    font-weight: bold;
    color: aliceblue;
}
.nav-btn{
    min-width:135px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 5px;
    border-radius:1000px;
    
    text-align: center;
}
.nav-btn>button{
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    background: transparent;
    border: none;
    color: #ffffff;
}
.menu-bar{
    display: none;
}




.about{
    padding-top: 50px;
    background-color: #0e0916;
}
.about-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.about-content{
    text-align: center;
}
.rate-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 80px;
    text-align: center;
    
}
.card{
    max-width: 240px;
    height: 94px;
    text-align: center;
}
.card h3{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;

}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    opacity: 80%;
    margin-bottom: 120px;
    
}

.about-content h3{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.about-content p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height:40px;
    margin-bottom: 60px;
    opacity: 80%;
}
.line{
    border: 0;
    border-top: 1px  solid rgb(41, 39, 37);
}
.tech{
    padding: 100px 0;
    background-color:#230E3D;
}

.tech h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}
.container>*{
    border: 1px solid rgb(118, 118, 231);
    background-color: #ffffff;
    padding: 40px;
    background-color: #351165;
    border:none ;
    border-radius: 40px;
}
.t-images{

}
.tt-h5{
    font-size: 20px;
    font-weight:900;
    color: #ffffff;
    margin-bottom: 16px;
    opacity: 100%;
    padding-top: 100px;
    

}
.t-h5{
    font-size: 20px;
    font-weight:900;
    color: #ffffff;
    margin-bottom: 16px;
    opacity: 100%;
    

} 
.t-p{
    font-size: 16;
    font-weight: 400;
    color: #ffffff;
    line-height: 20px;
    opacity: 60%;
    


}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

    display: grid;
    gap: 30px;
    grid-template-columns:repeat(3,1fr);
    grid-template-areas: 

    'n m m'
    'n g g'
    'f f r'
    
    ;
}
nav{
    grid-area: n ;
}
main{
    grid-area: m;
}
#global{
    grid-area: g;
}
footer{
    grid-area: f;
}
#rich{
    grid-area: r;
}
.feature{
    background-color: #1A0B2E;
    padding: 120px;
}
.feature h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
  
    

}
.feature-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-card{
    width: 380px;
    height: 400px;
    background-color: #230E3D;
    border-radius: 24px 24px 0px 0px;
    overflow: hidden;
    
   
}
.video-card h4{
    text-align: center;
    padding:10px ;
    color:#ffffff;
    font-size: 24;
    font-weight:bold;
    margin-bottom: 12px;
    
    
}
.video-card p{
    text-align: center;
    padding:10px ;
    color:#ffffff;
    font-size: 16;
    font-weight:bold;
    margin-bottom: 12px;
    
    
}

.meet{
    padding-top: 120px;

}
.meet-text h3{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.meet-text p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 16px;

}

.meet-container{
    max-width: 1150px;
    width:90%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    background-color: #230E3D;
    padding: 40px;
    border-radius: 20px;
}
.icon-box{
    width: 40px;
    height: 40px;
    display: flex;
    gap: 8px;
   

    
}
.icon{
    border: 1px solid wheat;
    border-radius: 20px;
    padding: 3px;
}








@media screen and (max-width:576px){
    .menu-list,.nav-btn{
        display: none;
    }
    .menu-bar{
    display:inline;
}
.about-content{
    padding: 0 20px;
}
.rate-card{
    flex-wrap: wrap;
}

.container{
    grid-template-columns: repeat(1,1fr);
    
    grid-template-areas: 

    'n'
    'm'
    'g'
    'f'
    'r'
    
    ;
}
.feature-container{
   flex-direction: column;
   
   
}
.video-card{
    margin: 20px;
    
    
   
}

.meet-container{
    flex-direction: column;
    
    
}
.meet-container .host-img{
    width: 200px;
    margin-left: 50px;
   
    
    
}
.icon{
    margin-left: 30px;
}


.meet-text, p,h3{
   text-align: center;
   margin-right: 30px;

}
.feature{
    
    padding:10px;

}











    
}
   

